@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Pretendard", system-ui, sans-serif;
  --color-slate-950: #020617;
}

:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}